.header {
  display: flex;
  padding: 16px 0;
  margin-top: 32px;
  align-items: center;
}

.logo img {
  max-width: 100%;;
}

.logo {
  flex-grow: 1;
  padding-right: 32px;
}

.discord a {
  background: rgba(0,0,0,0.25);
  padding: 16px 32px;
  border-radius: 500px;
  color: #fff;
  text-decoration: none;
  transition: all ease-in-out 150ms;
  white-space: nowrap;
  font-weight: 600;
}

.discord a:hover,
.discord a:focus { 
  background: rgba(0,0,0,0.5);
}