html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

*, ::before, ::after {
  box-sizing: border-box;
}

body {
  background: #2e2b38;
  color: #989ca4;
  padding: 0 16px;
}

.stream-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(280px,1fr));
    gap: 32px;
    padding: 32px 0 32px;
}

.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 1200px;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  flex-grow: 1;
  align-items: center;
  justify-items: center;
}